In [6]:
import pandas as pd

In [7]:
event_data = pd.DataFrame({
    "event_name": [
        "Gulf War Begins",
        "9/11 Attacks",
        "Global Financial Crisis",
        "Arab Spring",
        "COVID-19 Declared",
        "Russia Invades Ukraine"
    ],
    "start_date": [
        "1990-08-02",
        "2001-09-11",
        "2008-09-15",
        "2011-01-01",
        "2020-03-11",
        "2022-02-24"
    ],
    "description": [
        "Iraq invades Kuwait",
        "Twin Towers attack",
        "Lehman Brothers collapse",
        "MENA political unrest",
        "COVID-19 pandemic begins",
        "Invasion of Ukraine"
    ]
})

# Convert to datetime
event_data['start_date'] = pd.to_datetime(event_data['start_date'])

In [8]:
event_data.head()

                event_name start_date               description
0          Gulf War Begins 1990-08-02       Iraq invades Kuwait
1             9/11 Attacks 2001-09-11        Twin Towers attack
2  Global Financial Crisis 2008-09-15  Lehman Brothers collapse
3              Arab Spring 2011-01-01     MENA political unrest
4        COVID-19 Declared 2020-03-11  COVID-19 pandemic begins

In [9]:
event_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   event_name   6 non-null      object
 1   start_date   6 non-null      datetime64[ns]
 2   description  6 non-null      object
dtypes: datetime64[ns](1), object(2)
memory usage: 276.0+ bytes

In [10]:
event_data.to_csv('../Data/event.csv', index=False)